---
import Hero from "@components/Hero.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Layout from "@layouts/Layout.astro";
import Text from "@components/Text.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact.astro";
import ztl from "@assets/logos/ztl_logo.png";
import medminder from "@assets/logos/MedMinder.png";
import deca from "@assets/logos/deca.png";
import flutter from "@assets/icons/flutter-original.svg";
import laravel from "@assets/icons/laravel-original.svg";
import react from "@assets/icons/react.svg";
---

<Layout title="Evan Kim">
  <section>
    <Hero />
  </section>
  <section id="about" class="center smaller-page">
    <Text
      title="About Me"
      description="I'm Evan Kim, a high school student with a deep passion for all things related to computers. I love exploring various areas of computer science, from low-level programming languages to web and mobile app development. I'm always eager to learn and embrace new technologies, and I make it a point to incorporate something new into my personal projects. I particularly love open-source work. Outside of tech, I'm enthusiastic about aviation and aspire to earn my private pilot's license someday. I'm also fluent in Spanish and enjoy spending time outdoors."
    />
  </section>
  <section id="projects" class="center smaller-page">
    <h1>My Projects</h1>
    <div class="grid-container">
      <ProjectCard
        title="MedMinder"
        description="To combat medication non-compliance, I was the lead developer of a team of 5 that built an app that uses Optical Character Recognition (OCR) technology to create an algorithm to interpret prescription directions and schedule notifications to remind you when to take medications and more. Finalist of the 5th annual Ready, Set, App competition which was sponsored by the NCBCE and Lenovo. Built with Flutter."
        image={medminder}
        alt="MedMinder"
        icon={flutter}
        readMore="true"
        readMoreURL="https://devpost.com/software/medminder-bndvgt"
        readMoreText="Competition Page"
      />
      <ProjectCard
        title="ZTL ARTCC Website"
        description="I am part of the web team for an open-source website that supports the Atlanta ARTCC (Air Route Traffic Control Center) of VATUSA on the VATSIM (Virtual Air Traffic Simulation Network) platform. Built with Laravel."
        image={ztl}
        alt="ZTL Logo"
        icon={laravel}
        readMore="true"
        readMoreURL="https://www.ztlartcc.org/"
        readMoreText="View Website"
      />
      <ProjectCard
        title="DECA Penalty Checker"
        description="I created a privacy-focused, open-source tool to help DECA competitors identify potential penalty risks in their written events. The web app runs entirely on the user's machine to ensure user privacy. Built with React"
        image={deca}
        alt="Paper"
        icon={react}
        readMore="true"
        readMoreURL="https://deca.evankim.me"
        readMoreText="View Website"
      />
    </div>
  </section>
  <section id="contact">
    <Contact matrix="https://matrix.to/#/@evanston:evankim.me" />
  </section>
  <Footer />
</Layout>

<style>
  .smaller-page {
    min-height: 50vh;
  }

  .grid-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    color: var(--light);
    font-size: 3.125rem;
  }

  h1 strong {
    font-size: 3.75rem;
    font-weight: 800;
  }
</style>
