---
import BusinessCard from "@components/BusinessCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Layout from "@layouts/Layout.astro";
import Text from "@components/Text.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact.astro";
import ztl from "@assets/logos/ztl_logo.png";
import medminder from "@assets/logos/MedMinder.png";
import yag from "@assets/logos/yag.png";
import flutter from "@assets/icons/flutter-original.svg";
import laravel from "@assets/icons/laravel-original.svg";
import rust from "@assets/icons/rust-original.svg";
import github from "@assets/icons/github-hover.svg?raw";
import document_icon from "@assets/icons/document.svg?raw";
import matrix from "@assets/icons/matrix.svg?raw";
---

<Layout title="Evan Kim">
  <section class="split full-page">
    <!-- make this whole hero section a component -->
    <div class="title">
      <h1 class="no-margin">
        Hello World, I am <br/><strong>Evan Kim</strong>
      </h1>
      <h2 class="no-margin">Software Developer</h2>
      <h3 class="no-margin">
        <a href="https://github.com/Evanston09" target="_blank">
          <Fragment set:html={github} />
        </a>
        <a href="/resume.pdf" target="_blank">
          <Fragment set:html={document_icon} />
        </a>
        <a href="https://matrix.to/#/@evanston:evankim.me" target="_blank">
          <Fragment set:html={matrix} />
        </a>
      </h3>
    </div>
    <BusinessCard height=".8" width=".5" small_height=".5" small_width="1" />
  </section>
  <section id="about" class="center smaller-page">
    <Text
      title="About Me"
      description="I'm Evan Kim, a high school student with a deep passion for all things related to computers. I love exploring various areas of computer science, from low-level programming languages to web and mobile app development. I'm always eager to learn and embrace new technologies, and I make it a point to incorporate something new into my personal projects. I particularly love open-source work. Outside of tech, I'm enthusiastic about aviation and aspire to earn my private pilot's license someday. I'm also fluent in Spanish and enjoy spending time outdoors."
    />
  </section>
  <section id="projects" class="center smaller-page">
    <h1>My Projects</h1>
    <div class="grid-container">
      <ProjectCard
        title="MedMinder"
        description="To combat medication non-compliance, I was the lead developer of a team of 5 that built an app that uses Optical Character Recognition (OCR) technology to create an algorithm to interpret prescription directions and schedule notifications to remind you when to take medications and more. Finalist of the 5th annual Ready, Set, App competition which was sponsored by the NCBCE and Lenovo. Built with Flutter."
        image={medminder}
        alt="MedMinder"
        icon={flutter}
        readMore="true"
        readMoreURL="https://devpost.com/software/medminder-bndvgt"
        readMoreText="Competition Page"
      />
      <ProjectCard
        title="ZTL ARTCC Website"
        description="I am part of the web team for an open-source website that supports the Atlanta ARTCC (Air Route Traffic Control Center) of VATUSA on the VATSIM (Virtual Air Traffic Simulation Network) platform. Built with Laravel."
        image={ztl}
        alt="ZTL Logo"
        icon={laravel}
        readMore="true"
        readMoreURL="https://www.ztlartcc.org/"
        readMoreText="View Website"
      />
      <ProjectCard
        title="Yag"
        description="I developed a custom API to enhance the MedMinder app by processing medication data to offer advanced features such as drug and food interactions, as well as detailed medication descriptions. Built with Axum and Rust."
        image={yag}
        alt="Yag"
        icon={rust}
      />
    </div>
  </section>
  <section id="contact">
    <Contact matrix="https://matrix.to/#/@evanston:evankim.me" />
  </section>
  <Footer />
</Layout>

<style>
  .full-page {
    min-height: 100vh;
  }

  .smaller-page {
    min-height: 75vh;
  }

  .grid-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .split {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  @media (max-width: 768px) {
    .split {
      flex-direction: column;
      justify-content: flex-start;
    }
    .title {
      width: 100vw;
      text-align: left;
    }
  }

  .no-margin {
    margin: 0;
  }

  h1 {
    color: var(--light);
    font-size: 3.125rem;
  }

  h1 strong {
    font-size: 3.75rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1.75rem;
    color: var(--subheading-1);
  }
  a {
    text-decoration: none;
  }
  svg:hover {
    fill: var(--subheading-1);
  }
</style>
